Repository yungyuc/nsdhw_23au, pull requests merged in 2023-11, with the labels that each got.

#90 Three month03 proposal: conjugate gradient method
  project/README.rst
  project/ThreeMonth03/README.md
Labels: project

#98 yui0303 proposal: DoSM
  project/README.rst
  project/yui0303/README.md
  project/yui0303/src/SystemArchitecture.jpg
Labels: project

#91 leeshengcian proposal: polygon clipping
  project/README.rst
  project/leeshengcian/README.rst
  project/leeshengcian/image/poly-clip.png
  project/leeshengcian/image/term-project-work-flow.png
Labels: project

#78 Project proposal by yxuan0329
  project/README.rst
  project/yxuan0329/proposal.rst
Labels: project

#100 adcf3016-proposal-submission
  project/README.rst
  project/adcf3016/README.md
Labels: project

#130 Mibudin proposal: WFCpp
  project/Mibudin/README.md
  project/README.rst
Labels: project

#131 Sheng08 proposal: OrientMesh Toolkit
  project/README.rst
  project/Sheng08/README.md
  project/Sheng08/doc/pic/OOB_mesh_sample1.png
  project/Sheng08/doc/pic/OOB_mesh_sample2.png
  project/Sheng08/doc/pic/system_flow.png
Labels: project

#135 visitorckw proposal: Runtime Profile-Guided Optimization Sorting Library
  project/README.rst
  project/visitorckw/README.md
Labels: project

#92 Yuanhenglee-proposal-submission
  project/README.rst
  project/yuanhenglee/README.md
Labels: project

#94 ShangHungWan-proposal-submission
  project/README.rst
  project/ShangHungWan/README.md
  project/ShangHungWan/rtree-1.png
  project/ShangHungWan/rtree-2.png
Labels: project

#124 Alkalid proposal: lowbit
  project/Alkalid/README.md
  project/Alkalid/img/propose_method.png
  project/README.rst
Labels: project

#138 SL510457 proposal: OptiRoute
  project/README.rst
  project/SL510457/README.md
  project/SL510457/image/Chris.gif
  project/SL510457/image/HaversineFormula.png
  project/SL510457/image/flowchart.png
Labels: project

#95 liamlin5566 proposal first submission
  project/README.rst
  project/liamlin5566/README.md
Labels: project

#140 tsaiet proposal: Optimizing Traffic Flow with Ford-Fulkerson
  project/README.rst
  project/tsaiet/README.rst
  project/tsaiet/System Architecture.png
Labels: project

#104 oooJiun proposal: polymap
  project/README.rst
  project/oooJiun/README.md
Labels: project

#111 Sheng08 hw3 attempt1
  hw3/Sheng08/Makefile
  hw3/Sheng08/_matrix.cpp
  hw3/Sheng08/_matrix.h
  hw3/Sheng08/performance.txt
  hw3/Sheng08/test_matrix.py
Labels: hw3

#106 Liamlin5566 hw3 attempt1
  hw3/liamlin5566/Matrix.cpp
  hw3/liamlin5566/Matrix.h
  hw3/liamlin5566/benchmark.py
  hw3/liamlin5566/makefile
  hw3/liamlin5566/performance.txt
  hw3/liamlin5566/test_matrix.py
Labels: hw3

#112 Alkalid hw3 attempt1
  hw3/Alkalid/Makefile
  hw3/Alkalid/_matrix.cpp
  hw3/Alkalid/performance.txt
  hw3/Alkalid/test_matrix.py
Labels: hw3

#120 Yxuan0329 hw3 attempt1
  hw3/yxuan0329/Makefile
  hw3/yxuan0329/includes/matrix.h
  hw3/yxuan0329/matrix.cpp
  hw3/yxuan0329/performance.py
  hw3/yxuan0329/performance.txt
  hw3/yxuan0329/test_matrix_multi.py
Labels: hw3

#107 Yuanhenglee hw3 attempt1
  hw3/yuanhenglee/Makefile
  hw3/yuanhenglee/benchmark.py
  hw3/yuanhenglee/main.cpp
  hw3/yuanhenglee/matrix.cpp
  hw3/yuanhenglee/matrix.h
  hw3/yuanhenglee/performance.txt
  hw3/yuanhenglee/test_matrix.py
Labels: hw3

#117 oooJiun hw3 attempt1
  hw3/oooJiun/Makefile
  hw3/oooJiun/_matrix.cpp
  hw3/oooJiun/performance.py
  hw3/oooJiun/performance.txt
  hw3/oooJiun/test_matrix.py
Labels: hw3

#136 ShangHungWan hw3 attempt1
  hw3/ShangHungWan/.gitignore
  hw3/ShangHungWan/Makefile
  hw3/ShangHungWan/benchmark.py
  hw3/ShangHungWan/main.cpp
  hw3/ShangHungWan/performance.txt
  hw3/ShangHungWan/test__matrix.py
Labels: hw3

#115 Yu-Rou-Weng hw3 attempt3
  hw3/Yu-Rou-Weng/_matrix.cpp
  hw3/Yu-Rou-Weng/makefile
  hw3/Yu-Rou-Weng/performance.py
  hw3/Yu-Rou-Weng/performance.txt
  hw3/Yu-Rou-Weng/test_matrix.py
Labels: hw3

#134 Three month03 hw3 attempt3
  hw3/ThreeMonth03/Makefile
  hw3/ThreeMonth03/_matrix.cpp
  hw3/ThreeMonth03/_matrix.hpp
  hw3/ThreeMonth03/performance.txt
  hw3/ThreeMonth03/test_matrix.py
Labels: hw3

#132 Finish hw3
  hw3/ThreeMonth03/Makefile
  hw3/ThreeMonth03/_matrix.cpp
  hw3/ThreeMonth03/performance.txt
  hw3/ThreeMonth03/test_matrix.py
Labels: hw3

#133 Three month03 hw3 attempt2
  hw3/ThreeMonth03/Makefile
  hw3/ThreeMonth03/_matrix.cpp
  hw3/ThreeMonth03/performance.txt
  hw3/ThreeMonth03/test_matrix.py
Labels: hw3

#126 visitorckw hw3 attempt1
  hw3/visitorckw/.clang-format
  hw3/visitorckw/Makefile
  hw3/visitorckw/matrix.cpp
  hw3/visitorckw/performance.txt
  hw3/visitorckw/test_matrix.py
Labels: hw3

#129 hw3 submit by Mibudin
  hw3/Mibudin/Makefile
  hw3/Mibudin/PRELOAD_MKL
  hw3/Mibudin/_matrix.cpp
  hw3/Mibudin/_matrix.hpp
  hw3/Mibudin/matrix.cpp
  hw3/Mibudin/matrix.hpp
  hw3/Mibudin/performance.py
  hw3/Mibudin/performance.txt
  hw3/Mibudin/test_matrix.py
Labels: hw3

#103 CodeStone1125 hw3 attempt2
  hw3/CodeStone1125/Makefile
  hw3/CodeStone1125/PRELOAD_MKL
  hw3/CodeStone1125/_matrix.cpp
  hw3/CodeStone1125/performance.txt
  hw3/CodeStone1125/test_matrix.py
Labels: hw3

#116 adcf3016 hw3 attempt1
  hw3/adcf3016/Makefile
  hw3/adcf3016/_matrix.cpp
  hw3/adcf3016/performance.py
  hw3/adcf3016/performance.txt
  hw3/adcf3016/test_matrix.py
Labels: hw3

#118 yui0303 hw3 attempt1
  hw3/yui0303/.gitignore
  hw3/yui0303/Makefile
  hw3/yui0303/_matrix.cpp
  hw3/yui0303/_matrix.hpp
  hw3/yui0303/performance.txt
  hw3/yui0303/test_matrix.py
Labels: hw3

#137 SL510457-hw3-attempt2
  hw3/SL510457/_matrix.cpp
  hw3/SL510457/_matrix.h
  hw3/SL510457/makefile
  hw3/SL510457/test_matrix.py
Labels: hw3

#128 Tsaiet hw3 attempt3
  hw3/tsaiet/Makefile
  hw3/tsaiet/_matrix.cpp
  hw3/tsaiet/performance.py
  hw3/tsaiet/test_matrix.py
Labels: hw3

#105 leeshengcian-hw3-attempt1
  hw3/leeshengcian/_matrix.cc
  hw3/leeshengcian/_matrix.h
  hw3/leeshengcian/benchmark.py
  hw3/leeshengcian/makefile
  hw3/leeshengcian/test_matrix.py
Labels: hw3

#97 Lolainta proposal: NuScenes in C++
  project/README.rst
  project/lolainta/README.md
Labels: project

#166 Sheng08 hw4 attempt1
  hw4/Sheng08/Makefile
  hw4/Sheng08/_matrix.cpp
  hw4/Sheng08/_matrix.hpp
  hw4/Sheng08/myAllocator.hpp
  hw4/Sheng08/test_matrix.py
Labels: hw4

#168 Alkalid hw4 attempt2
  hw4/Alkalid/_matrix.cpp
  hw4/Alkalid/makefile
  hw4/Alkalid/test_.py
Labels: hw4

#150 yxuan0329 hw4 attempt1
  hw4/yxuan0329/Makefile
  hw4/yxuan0329/includes/matrix.h
  hw4/yxuan0329/matrix.cpp
Labels: hw4

#143 oooJiun hw4 attempt1
  hw4/oooJiun/Makefile
  hw4/oooJiun/_matrix.cpp
Labels: hw4

#154 ShangHungWan hw4 attempt1
  hw4/ShangHungWan/.gitignore
  hw4/ShangHungWan/ByteCounter.cpp
  hw4/ShangHungWan/Makefile
  hw4/ShangHungWan/includes/ByteCounter.h
  hw4/ShangHungWan/main.cpp
  hw4/ShangHungWan/test__matrix.py
  hw4/ShangHungWan/validate.py
Labels: hw4

#159 Yu-Rou-Weng-hw4-attempt4
  hw4/Yu-Rou-Weng/Makefile
  hw4/Yu-Rou-Weng/_matrix.cpp
  hw4/Yu-Rou-Weng/_matrix.hpp
  hw4/Yu-Rou-Weng/test_matrix.py
Labels: hw4

#158 Three month03 hw4 attempt2
  hw4/ThreeMonth03/Makefile
  hw4/ThreeMonth03/_allocator.cpp
  hw4/ThreeMonth03/_allocator.hpp
  hw4/ThreeMonth03/_matrix.cpp
  hw4/ThreeMonth03/_matrix.hpp
  hw4/ThreeMonth03/_pybind.cpp
  hw4/ThreeMonth03/test_matrix.py
Labels: hw4

#161 visitorckw hw4 attempt1
  hw4/visitorckw/.clang-format
  hw4/visitorckw/Makefile
  hw4/visitorckw/matrix.cpp
  hw4/visitorckw/test_matrix.py
Labels: hw4

#160 Mibudin hw4 attempt1
  hw4/Mibudin/Makefile
  hw4/Mibudin/PRELOAD_MKL
  hw4/Mibudin/inc/matrix/matrix.hpp
  hw4/Mibudin/inc/matrix/stl.hpp
  hw4/Mibudin/src/_matrix.pybind11.cpp
  hw4/Mibudin/src/matrix/matrix.cpp
  hw4/Mibudin/src/matrix/stl.cpp
  hw4/Mibudin/test_matrix.py
Labels: hw4

#162 leeshengcian-hw4-attempt2
  hw4/leeshengcian/Makefile
  hw4/leeshengcian/_matrix.cpp
  hw4/leeshengcian/_matrix.h
  hw4/leeshengcian/test.py
Labels: hw4

#164 Yvonne-ul6u45p-hw4-attempt1
  hw4/Yvonne-ul6u45p/CustomAllocator.hpp
  hw4/Yvonne-ul6u45p/Makefile
  hw4/Yvonne-ul6u45p/_matrix.cpp
  hw4/Yvonne-ul6u45p/test_matrix.py
Labels: hw4

#148 CodeStone1125-hw4-attempt1
  hw4/CodeStone1125/Makefile
  hw4/CodeStone1125/PRELOAD_MKL
  hw4/CodeStone1125/_matrix.cpp
  hw4/CodeStone1125/item.hpp
  hw4/CodeStone1125/mkl.pc
  hw4/CodeStone1125/test_matrix.py
Labels: hw4

#156 adcf3016 hw4 attempt1
  hw4/adcf3016/Makefile
  hw4/adcf3016/PRELOAD_MKL
  hw4/adcf3016/_matrix.cpp
  hw4/adcf3016/allocator.h
Labels: hw4

#153 yui0303 hw4 attempt2
  hw4/yui0303/Makefile
  hw4/yui0303/_allocator.hpp
  hw4/yui0303/_matrix.cpp
  hw4/yui0303/_matrix.hpp
  hw4/yui0303/pybind.cpp
  hw4/yui0303/test_matrix.py
Labels: hw4
