Repository yungyuc/nsdhw_23au, pull requests merged in 2023-10, with the labels that each got.

#59 Yvonne-ul6u45p hw1 attempt2
  hw1/Yvonne-ul6u45p/countline.py
  hw1/Yvonne-ul6u45p/countline.sh
Labels: hw1

#66 alan910127 hw2 attempt1
  hw2/alan910127/.clang-format
  hw2/alan910127/q1/Makefile
  hw2/alan910127/q1/src/line.cpp
  hw2/alan910127/q1/src/line.hpp
  hw2/alan910127/q1/src/main.cpp
  hw2/alan910127/q2/.gitignore
  hw2/alan910127/q2/Makefile
  hw2/alan910127/q2/requirements.txt
  hw2/alan910127/q2/src/_vector.cpp
  hw2/alan910127/q2/tests/test_vector.py
Labels: hw2

#62 add q1 and q2 for liamlin5566-hw2-attempt2
  hw2/liamlin5566/q1/Line.cpp
  hw2/liamlin5566/q1/Line.hpp
  hw2/liamlin5566/q1/main.cpp
  hw2/liamlin5566/q1/makefile
  hw2/liamlin5566/q2/makefile
  hw2/liamlin5566/q2/test_angle.py
  hw2/liamlin5566/q2/utils.cpp
Labels: hw2

#80 Sheng08 hw2 attempt1
  hw2/Sheng08/q1/Line.cpp
  hw2/Sheng08/q1/Line.hpp
  hw2/Sheng08/q1/Makefile
  hw2/Sheng08/q1/main.cpp
  hw2/Sheng08/q2/Makefile
  hw2/Sheng08/q2/_vector.cpp
  hw2/Sheng08/q2/test_vector_angle.py
Labels: hw2

#72 Alkalid-hw2-attempt1
  hw2/Alkalid/q1/line.cpp
  hw2/Alkalid/q1/line.h
  hw2/Alkalid/q1/main.cpp
  hw2/Alkalid/q1/makefile
  hw2/Alkalid/q2/angle.cpp
  hw2/Alkalid/q2/makefile
  hw2/Alkalid/q2/test_vector.py
Labels: hw2

#77 Yxuan0329 hw2 attempt1
  hw2/yxuan0329/q1/Line.cpp
  hw2/yxuan0329/q1/Line.h
  hw2/yxuan0329/q1/Makefile
  hw2/yxuan0329/q1/main.cpp
  hw2/yxuan0329/q2/Makefile
  hw2/yxuan0329/q2/__pycache__/getAngle_test.cpython-310-pytest-7.4.2.pyc
  hw2/yxuan0329/q2/getAngle.cpp
  hw2/yxuan0329/q2/getAngle_test.py
Labels: hw2

#76 oooJiun hw2 attempt1
  hw2/oooJiun/q1/Line.cpp
  hw2/oooJiun/q1/Line.hpp
  hw2/oooJiun/q1/Makefile
  hw2/oooJiun/q2/Makefile
  hw2/oooJiun/q2/_vector.cpp
  hw2/oooJiun/q2/test_angle.py
Labels: hw2

#87 ShangHungWan-hw2-attempt1
  hw2/ShangHungWan/.gitignore
  hw2/ShangHungWan/q1/Makefile
  hw2/ShangHungWan/q1/main.cpp
  hw2/ShangHungWan/q2/Makefile
  hw2/ShangHungWan/q2/main.cpp
  hw2/ShangHungWan/q2/pytest.ini
  hw2/ShangHungWan/q2/test__vector.py
Labels: hw2

#75 Yu-Rou-Weng-hw2-attempt2
  hw2/Yu-Rou-Weng/q1/line.cpp
  hw2/Yu-Rou-Weng/q1/makefile
  hw2/Yu-Rou-Weng/q2/cal_angle.cpp
  hw2/Yu-Rou-Weng/q2/makefile
  hw2/Yu-Rou-Weng/q2/test_cal_angle.py
Labels: hw2

#68 ThreeMonth03-hw2-attempt1
  hw2/ThreeMonth03/q1/Line.cpp
  hw2/ThreeMonth03/q1/Line.hpp
  hw2/ThreeMonth03/q1/main.cpp
  hw2/ThreeMonth03/q1/makefile
  hw2/ThreeMonth03/q2/customized_calculation.cpp
  hw2/ThreeMonth03/q2/makefile
  hw2/ThreeMonth03/q2/test_angle.py
Labels: hw2

#70 visitorckw hw2 attempt1
  hw2/visitorckw/q1/Line.cpp
  hw2/visitorckw/q1/Line.h
  hw2/visitorckw/q1/Makefile
  hw2/visitorckw/q1/main.cpp
  hw2/visitorckw/q2/Makefile
  hw2/visitorckw/q2/main.cpp
  hw2/visitorckw/q2/test_angle.py
Labels: hw2

#71 hw2 submit by Mibudin
  hw2/Mibudin/q1/Makefile
  hw2/Mibudin/q1/line.cpp
  hw2/Mibudin/q1/line.hpp
  hw2/Mibudin/q1/main.cpp
  hw2/Mibudin/q2/Makefile
  hw2/Mibudin/q2/_vector.cpp
  hw2/Mibudin/q2/test_vector.py
Labels: hw2

#64 leeshengcian-hw2-attempt1
  hw2/leeshengcian/q1/line.cpp
  hw2/leeshengcian/q1/line.hpp
  hw2/leeshengcian/q1/main.cpp
  hw2/leeshengcian/q1/makefile
  hw2/leeshengcian/q2/_vector.cpp
  hw2/leeshengcian/q2/makefile
  hw2/leeshengcian/q2/test_angel.py
Labels: hw2

#86 Yvonne-ul6u45p-hw2-attempt2
  hw2/Yvonne-ul6u45p/q1/Line.cpp
  hw2/Yvonne-ul6u45p/q1/Line.hpp
  hw2/Yvonne-ul6u45p/q1/Makefile
  hw2/Yvonne-ul6u45p/q2/Makefile
  hw2/Yvonne-ul6u45p/q2/calculateAngle.cpp
  hw2/Yvonne-ul6u45p/q2/test_calculateAngle.py
Labels: hw2

#67 CodeStone1125-hw2-attempt1
  hw2/CodeStone1125/q1/Makefile
  hw2/CodeStone1125/q1/line.cpp
  hw2/CodeStone1125/q1/line.hpp
  hw2/CodeStone1125/q2/Makefile
  hw2/CodeStone1125/q2/_vector.cpp
  hw2/CodeStone1125/q2/pytest.ini
  hw2/CodeStone1125/q2/tests/test_angle.py
Labels: hw2

#65 adcf3016 hw2 attempt1
  hw2/adcf3016/q1/Makefile
  hw2/adcf3016/q1/line.cpp
  hw2/adcf3016/q1/line.hpp
  hw2/adcf3016/q1/main.cpp
  hw2/adcf3016/q2/Makefile
  hw2/adcf3016/q2/_vector.cpp
  hw2/adcf3016/q2/test_calculate_radian.py
Labels: hw2

#69 yui0303-hw2-attempt1
  hw2/yui0303/q1/Makefile
  hw2/yui0303/q1/line.cpp
  hw2/yui0303/q1/line.hpp
  hw2/yui0303/q1/main.cpp
  hw2/yui0303/q2/Makefile
  hw2/yui0303/q2/_vector.cpp
  hw2/yui0303/q2/test_q2.py
Labels: hw2

#79 SL510457 hw2 attempt1
  hw2/SL510457/q1/line.cpp
  hw2/SL510457/q1/line.hpp
  hw2/SL510457/q1/main.cpp
  hw2/SL510457/q1/makefile
  hw2/SL510457/q2/_vector.cpp
  hw2/SL510457/q2/makefile
  hw2/SL510457/q2/test_VecAngle.py
Labels: hw2

#60 Yuanhenglee hw2 attempt1
  hw2/yuanhenglee/q1/Line.cpp
  hw2/yuanhenglee/q1/Line.h
  hw2/yuanhenglee/q1/Makefile
  hw2/yuanhenglee/q1/main.cpp
  hw2/yuanhenglee/q2/Makefile
  hw2/yuanhenglee/q2/src/angle_cal.cpp
  hw2/yuanhenglee/q2/src/angle_cal.h
  hw2/yuanhenglee/q2/src/main.cpp
  hw2/yuanhenglee/q2/tests/test_angle_cal.py
Labels: hw2

#89 Yu-Rou-Weng Proposal Submission
  project/README.rst
  project/Yu-Rou-Weng/image/ConceptFlowChart.png
  project/Yu-Rou-Weng/proposal.md
Labels: project
